@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.appTitle{
    font-family: "New Amsterdam", sans-serif;
    font-size: 350%;
    margin: auto;
    margin-top: 30px;
    color: #22A5A3;
}
.LoginPageMain{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.loginSpace{
    width: 80%;
    max-width: 400px;
    height: 350px;
    border-radius: 20px;
    margin: auto;
    border: solid 1px black;
}
.loginSpaceTop{
    width: 100%;
    height: 100px;
    display: flex;
}
.loginSpaceBottom{
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
}
.loginButton{
    margin: auto;
    display: flex;
    margin-top: 50px;
    border: none;
    background-color: white;
    width: 190px;
    height: 38px;
    border-radius: 50px;
    font-weight: 600;
    border: solid 1px #CAC3BB;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
}
.loginSpaceButtonIcon{
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-left: 10px;
}
.loginSpaceButtonTitle{
    margin-top: 8px;
    font-weight:800;
    color: black;
    margin-left: 10px;
}
.loginSpaceBottomSpace{
    width: calc(100% - 130px);
    margin: auto;
    margin-top: 0px;
}
.loginSpaceInput{
    width: 100%;
    height: 35px;
    background-color: white;
    border: solid 2px #767676;
    border-radius: 50px;
    display: flex;
    margin-top: 30px;
    font-family: "Nunito", sans-serif;
    font-size: 103%;
}
.loginSpaceButton{
    width: 103%;
    border: none;
    font-family: "Nunito", sans-serif;
    height: 40px;
    border-radius: 50px;
    margin-top: 30px;
    background-color:rgb(34, 165, 163);
    border: solid 2px rgb(34, 165, 163);
    cursor: pointer;
    font-size: 105%;
    font-weight: 700;
    color: #414141;

}
.loginSpaceButton:hover{
    background-color:rgb(30, 136, 134);
}